/**
 * Selectize ie678 polyfill
 * author: r.babakhani babakhni.reza@gmail.com
 */

.selectize-input input {
    box-shadow: none !important;
    position: relative;
    top: -4px;
    height: 20px;
}